@{
    ViewData["Title"] = "Dashboard";
}

<h2>Welcome, @ViewBag.Username!</h2>
<h2>Thanks For Choosing First Bank Have a Nice Day....!!!!</h2>

<p>Choose What to do with your Account</p>


<form method="post" asp-controller="Dashboard" asp-action="Logout">
    <button type="submit">Logout</button>
</form>

<div class="mt-3">
    <h4>Account Actions</h4>
    <button class="btn btn-primary" onclick="window.location.href='/Dashboard/Deposit'">Deposit</button>
    <button class="btn btn-warning" onclick="window.location.href='/Dashboard/Withdraw'">Withdraw</button>
    <button class="btn btn-success" onclick="window.location.href='/Dashboard/Transfer'">Transfer</button>
    <!-- Add more buttons for other account actions as needed -->
</div>

